body{
    background-color: aquamarine;
}
.P-4{
    text-align: center;
}
datalist{
    font-size: xx-large;
}
div{
    position: static;
    border: 3px solid #73ad21;
    /* margin-right: 50%;
    margin-top: 10%;
    width: 700px;
    height: 100px; */
    background-color: rgb(137, 194, 228);
}